.user-register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.accept-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-color: blueviolet;
    padding: 8px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.div-parts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form {
   
    width: 600px;
    border-radius: 10px;
    padding: 10px;
}

.register-label {
    font-size: 20px;
    color: blueviolet;
    margin: 5px;
}

.register-input {
    color: purple;
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: 1px solid blueviolet;
    
}

.div-checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.checkbox-input {
    width: 15px;
    margin-right: 10px;
}
